*{
   font-family: 'monocraft';

}

body{
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    width: 700px;
    padding: 30px;
    height: 800px;
    border: 2px solid black;
}

section {
    padding-left: 40px;
}

header {

    width: 500px;
    padding-left: 40px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

#verde{
    font-size: 15px;
    color: #24af5e;
}

strong{
    display: inline-block;
    transform: rotate(-40deg) translateY(-3px);
    font-size: 1.5px;
}
hr {
    width: 100%;
    margin: 10px 0;
}

img{
    width: 30px;
}

footer{
    transform: translatey(-15px);
    display: flex;
}